@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}

.container h1 {
  font-size: 65px;
  margin-bottom: 70px;
}
.form {
  display: flex;
}

.sigup-form,
.login-form {
  width: 330px;
  height: 240px;
  margin: 20px;
}

.form {
  background-color: white;
  border-radius: 10px;
}

.sigup-form div,
.login-form div {
  width: 100%;
  height: 30px;
  position: relative;
}

#signup,
#signup2,
#signup1,
#signup3,
#signup4,
#signup7,
#signup8 {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 0.5px solid #050505;
  /* border: none; */
  outline: none;
}
.sigup-form div label,
.login-form div label {
  position: absolute;
  top: 5px;
  left: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}
#signup:focus ~ label,
#signup:valid ~ label {
  transform: translateY(-14px);
  z-index: 3;
  background-color: white;
  color: #4158d0;
}

#signup1:focus ~ label,
#signup1:valid ~ label {
  transform: translateY(-14px);
  z-index: 3;
  background-color: white;
  color: #4158d0;
}
#signup2:focus ~ label,
#signup2:valid ~ label {
  transform: translateY(-14px);
  z-index: 3;
  background-color: white;
  color: #4158d0;
}

/* #signup3:focus ~ label,
#signup3:valid ~ label {
  transform: translateY(-14px);
  z-index: 3;
  background-color: white;
  color: #4158d0;
} */

#signup7:focus ~ #signup7 {
  border: none;
}

#signup7:focus ~ label,
#signup7:valid ~ label {
  transform: translateY(-14px);
  color: #4158d0;
  z-index: 3;
  background-color: white;
}

#signup8:focus ~ label,
#signup8:valid ~ label {
  transform: translateY(-14px);
  color: #4158d0;
  z-index: 3;
  background-color: white;
}

.signup-form-left div {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 12px;
}

.h3-text {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.signup-button div {
  width: 78px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(174, 162, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 5px;
  /* cursor: pointer; */
}

.txt-content {
  text-align: center;
}

.text-bottom {
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.text-bottom a {
  text-decoration: none;
  color: black;
}

.black-box {
  transition: 0.7s all;
  border-radius: 10px;
  position: fixed;
  top: 34%;
  left: 50%;
  width: 350px;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
}

.move-black-box {
  left: 27%;
}

.div a {
  text-decoration: none;
}
